<?xml version="1.0"?>
<model>
  <name>3DR Iris with rplidar lidar stereo camera</name>
  <version>1.0</version>
  <sdf>iris_rplidar_stereo_camera.sdf</sdf>

  <author>
   <name>Minkyu</name>
   <email>mk.park@unist.ac.kr</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a rplidar.
  </description>
</model>
